// Measures
$mobile 		: 767px; //768px = 48rem x 16px
$container 	: 1200px;

// Grid px  REV
$mobile_px 			: 500px;
$tablet_px		  : 800px;
$desktop_px     : 1024px;
$grid-container : 1200px;
$grid-super		  : 2000px;

// Fonts
$Cabin 		 				 : 'Cabin', sans-serif;
$Raleway 	 				 : 'Raleway', sans-serif;
$Multi 		 				 : 'Muli', sans-serif;
$Roboto    				 : 'Roboto', sans-serif;
$Montserrat				 : 'Montserrat', sans-serif;
$BebasNeue 				 : 'BebasNeue';
$SansPro	 				 : 'Source Sans Pro', sans-serif;
$Assistant 				 : 'Assistant', sans-serif;
$Quicksand 				 : 'Quicksand', sans-serif;
$OpenSansCodensed  : 'Open Sans Condensed', sans-serif;
$YanoneKaffeesatz  : 'Yanone Kaffeesatz', sans-serif;
$DINCondensed-Bold :  DINCondensed-Bold;  // Font extern || No GoogleFonts
$CabinCondensed    : 'Cabin Condensed', sans-serif;
$Poppins    		   : 'Poppins', sans-serif;

// Colors
$branding_blue 				: #000055;
$branding_blue--bold	: #000339;
$branding_blue--light : #0D1E8E;


// MOOMA
$branding_black				: #000000;
$branding_green				: #C2D500;
$branding_gray 				: #8F8F96;
$branding_gray_text 	: #333;



$branding_green_2 		: #bed0d3;
$branding_brown 			: #804e54;
$branding_red   			: #a32035;
$branding_red--offer	: #f40009;


$branding_gray--bold 	: #7f7f7f;
$branding_white 			: #EFEFEF;

// ++ Colors
$c_lilac  						:	#91298D;
$c_orange 						:	#E16E43;
$c_black  						: #111111;
$c_white							: #EFEFEF;

// Font Bold text
$font-weight-light     : 300;
$font-weight-regular   : 400;
$font-weight-medium    : 500;
$font-weight-semi-bold : 600;
// $font-weight-bold      : 700;